<app-header title="Grid"></app-header>

<!-- fullscreen nos sirve para hacer la transparencia del header en la página -->
<ion-content fullscreen>

    <ion-grid fixed>
        <ion-row>
            <ion-col 
            size-xs="12" 
            size-sm = "6"
            size-md = "4"
            size-lg = "3"
            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

                <ion-card>
                    <ion-img src="/assets/stan-lee.jpg"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Stan Lee</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum animi doloribus laborum odio
                        eaque. Illo repudiandae doloremque accusamus at dolorum odit deleniti sit accusantium! Nam
                        aperiam voluptatibus in totam voluptatem?
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>