<app-header title="Input Forms"></app-header>

<ion-content>

    <form [formGroup]="reactiveForm">
        <ion-list>
           <ion-item>
               <ion-label>Email: </ion-label>
               <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
           </ion-item>
           <ion-item>
               <ion-label>Password: </ion-label>
               <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
           </ion-item> 
        </ion-list>
        <ion-button disabled="{{!isValid}}" (click)="handleSubmit()" expand="block">
            Login
        </ion-button>
    </form>

</ion-content>
